# Data Science Tools and Ecosystem

#### This is a normal Data Science Tools and Ecosystem are summarized

**The language of Data science:** 
1. SQL
2. Python
3. R languag
4. Java

**The data science librarie:**
1. Pandas
2. Numpy
3. Matpoltlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch


| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4) + 5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

### Objectives:
* List popular languages for Data Science* List commonly used libraries for Data Science
* List Data Science Toolsbook

## Author

#### Yujunfeng